  body {
    background-color: black;
  }
  
  .body-container {
    width: 100%;
    display: grid;
    position: relative;
  }

  .top-bar h1{
    color: white;
    text-align: left;
  }

  .comp-info {
    background-color: #1F262E;
    display: inline-flex;
    width: 100%;
  }

  .competition-cards {
    background-color: #1F262E;
    display: grid;
    gap: 10px;
    margin-top: 20px;
    width: 40%;
    max-height: 600px;
    overflow-y: scroll;

  }

  .competition-details {
    width: 40%;
    color: #FFFFFF;
    overflow-y: scroll;
    max-height: 600px;

  }

  .competition-card {
    font-size: 16px;
    text-align: left;
    padding: 20px;
    background-color: #2A313B;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
  }
  
  .competition-card:hover {
    font-size: 16px;
    text-align: left;
    padding: 20px;
    background-color: #4D5B6B;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
  }
  
  .competition-header {
    max-width: 100%;
  }

  .leaderboard {
    background-color: #2A313B;
    border-radius: 8px;
    width: 100%;
    color: #FFFFFF;
  }

  .table {
    table-layout: fixed;
    width: 100%;
  }

  td{
    /* width: 1%; */
    color: #FFFFFF;
    text-align: center;
  }

  .rewards {
    background-color: #2A313B;
    border-radius: 8px;
    width: 100%;
    color: #FFFFFF;
  }

  .competition-header {
    background-color: #1F262E;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .join-button {
    padding: 5px 15px;
    background-color: #007DFB;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .date-range {
    font-size: 14px;
    color: #b0b0b0;
    margin: 10px 0;
  }
  
  .leaderboard, .rewards {
    margin-top: 15px;
  }

  